.facebook {
    background-image: url('../icons/facebook-icon.svg');
    background-size: 58%;

}

.twitter {
    background-image: url('../icons/twitter-icon.svg');
    background-size: 74%;
}

.github {
    background-image: url('../icons/github-icon.svg');
    background-size: 74%;
    background-position: 100%;
}