.modal-header {
    padding-bottom: 164px;
}

.hidden-modal {
    background-image: url('../icons/menu-icon.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
}

.open-modal {
    background-image: url('../icons/close-menu-icon.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
}
